.Discountitem_row1 {
    background-color: white;
    padding-top: 50px;
}

.Discountitem_row1_line1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
    /* padding-bottom: 30px; */
}

.Discountitem_row1_line1 label {
    font-size: 2.2rem;
    font-weight: 650;
    color: #151875;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-weight: bold; */
}

.Discountitem_row1_line2 {
    display: flex;
    flex-direction: row;
    /* padding-left: 600px;
    padding-right: 600px; */
    padding-top: 20px;
    /* padding-bottom: 10px; */
    justify-content: center;
}

.Discountitem_row1_line2_b2,
.Discountitem_row1_line2_b3 {
    padding-left: 20px;
}


.Discountitem_row1_line2_b2 button,
.Discountitem_row1_line2_b3 button {
    border: none;
    color: #151875;
    background-color: white;
    font-size: .9rem;
    letter-spacing: 1px;
}

.Discountitem_row1_line2_b1 button {
    border: none;
    color: #151875;
    background-color: white;
    font-size: .9rem;
    cursor: pointer;
    letter-spacing: .9px;
}

.Discountitem_row1_line2_b1 button:hover {
    color: #FB4997;
    text-decoration: underline;

}

.Discountitem_row2 {
    background-color: white;
    display: flex;
    flex-direction: row;

}

.Discountitem_row2_col1 {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-left: 250px;
    /* align-items: center; */
    justify-content: center;

}

.Discountitem_row2_col2 {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    padding-right: 100px;
}

.Discountitem_row2_col1_l1 label {
    font-size: 1.5rem;
    font-weight: 650;
    color: #151875;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-weight: bold; */
    letter-spacing: 1px;

}

.Discountitem_row2_col1_l2 label {
    font-size: 1.1rem;
    color: #FB2E86;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}

.Discountitem_row2_col1_l3 label {
    color: #B7BACB;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    /* letter-spacing: 1px; */

}

.Discountitem_row2_col1_l4 {
    display: flex;
    flex-direction: row;
    color: #B8B8DC;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    /* letter-spacing: 1px; */
}

.Discountitem_row2_col1_l5 button {
    border: none;
    color: white;
    background-color: #FB4997;
    font-size: .9rem;
    padding: 15px 10%;
    border-radius: 2px;
    letter-spacing: 1px;
}

.Discountitem_row2_col1_l1,
.Discountitem_row2_col1_l2,
.Discountitem_row2_col1_l3,
.Discountitem_row2_col1_l4,
.Discountitem_row2_col1_l5 {
    padding-bottom: 30px;
}

.Discountitem_row2_col1_l4_c1 {
    padding-right: 15px;
}

.Discountitem_row2_col1_l4_c1_l1,
.Discountitem_row2_col1_l4_c2_l1 {
    padding-bottom: 10px;
}

.Discountitem_row2_col1_l3 {
    line-height: 30px;
}
@media only screen and (max-width: 500px) {
  .Discountitem_row2_col2 img{
    width: 100px;
  }

}