.featuredlist {
  background-color: #f5f5f5;
  font-family: "Josefin Sans";
}

.featurelist_outer {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  align-items: center;
  margin-top: 7%;
  margin-left: 0%;
  padding-left: 0%;
}

.featuredlist_outer_inner {
  /* width: 70%; */
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin-left: 0px;
  padding-left: 0;
}

.singlefeatredlist {
  /* padding-top: 10px; */
  width: 270px;
  background-color: white;
  margin: 10px;
  padding-bottom: 10px;
  height: 361px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.singlefeatredlist:hover {
  background-color: blue;
}

.singlefeatredlist h4 {
  color: #fb2e86;
  font-size: 1.2rem;
  /* padding-top: 5px; */
  margin: 0px;
  padding-top: 10px;
}

.singlefeatredlist:hover h4 {
  color: white;
}

.singlefeatredlist label {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  font-size: 0.9rem;
  color: #151875;
  font-family: "Josefin Sans";
}

.singlefeatredlist:hover label {
  color: white;
}

.singlefeatredlist_inner {
  padding-top: 10px;
  background-color: #f6f7fb;
  height: 246px;
}

.singlefeatredlist_inner_outer{
  height: 30px;
}

.singlefeatredlist_inner_topimg {
  display: flex;
  padding-left: 10px;
  display: none;
  height: 30px;
}

.singlefeatredlist_inner_topimg_top{
  padding-right: 10px;
  align-items: center;
  display: flex;
}

.singlefeatredlist:hover .singlefeatredlist_inner_topimg {
  display: block;
  display: flex;
}

.singlefeatredlist:hover .singlefeatredlist_inner_topimg_1 {
  display: block;
  /* padding-right: 10px; */
  /* justify-content: center; */
}

.singlefeatredlist:hover .singlefeatredlist_inner_topimg_2 {
  display: block;
  /* padding-left: 10px; */
}

.singlefeatredlist:hover .singlefeatredlist_inner_topimg_3 {
  display: block;
  /* padding-left:  10px; */
}

.singlefeatredlist_inner_img {
  justify-content: center;
  display: flex;
  padding-bottom: 10px;
}

.singlefeatredlist:hover .singlefeatredlist_barimg {
  display: none;
}

.singlefeatredlist_h_barimg {
  display: none;
  align-content: center;
  /* display: flex; */
}
.singlefeatredlist:hover .singlefeatredlist_h_barimg {
  display: block;
}

.singlefeatredlist_3bar {
  padding-top: 10px;
  justify-content: center;
  display: flex;
}

.singlefeatredlist_inner_button {
  display: none;
}

.singlefeatredlist:hover .singlefeatredlist_inner_button {
  display: block;
  /* padding-top: 10px; */
}

.singlefeatredlist_inner_button button {
  width: 94px;
  padding: 8px;
  border-radius: 2px;
  background-color: #08d15f;
  color: white;
  border: none;
  outline: none;
}

.singlefeaturelistcircle{
  display: flex;
  width: 31px;
  height: 31px;
  background-color: rgb(0, 0, 0) transparent;
  border-radius: 50%;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.singlefeatredlist:hover .singlefeaturelistcircle {
  display: flex;
  background-color: #e9e9f4;
  justify-content: right;
  /* align-items: center; */
}
/*****************pagination****************/
.featurelist_outer_pagination {
  display: flex;
  padding-top: 10px;
}

.featurelist_outer_img_button{
  height: 4px;
    width: 20px;
    background-color: #f8aacc;
    border-radius: 20px;
    margin: 0 5px;
    cursor: pointer;
}
