.profileedit_row2 {
    display: flex;
    flex-direction: column;
    display: grid;
    gap: 20px;
    /* border-bottom: 2px solid #8C9BD1; */
    width: 50%;
}

.profileedit_row1_label {
    padding-left: 17%;
}

.profileedit {
    display: flex;
    flex-direction: column;
    border: none;
    outline: none;
    background: #FFFFFF;
    /* padding: 70px 0; */
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    gap: 20px;
    /* align-items: center; */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    padding-left: 30%;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #C1C8E1;

}

.profileedit_row2_row1 {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.profileedit_row2_row1_col1,
.profileedit_row2_row1_col2,
.profileedit_row2_row4_col1,
.profileedit_row2_row4_col2 {
    width: 50%;
    border-bottom: 2px solid #8C9BD1;
}


.profileedit_row2_row3,
.profileedit_row2_row2 {
    border-bottom: 2px solid #8C9BD1;
}

.profileedit_row2_row4 {
    display: flex;
    flex-direction: row;
}

.profileedit_row1_label {
    Font-family: "segoe ui";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #1D3178;
    /* padding-right: 63px; */
    width: 50%;
    padding-bottom: 15px;
}

.profileedit_row3 button {
    background: #FB2E86;
    border-radius: 2px;
    border: none;
    outline: none;
    Font-family: "segoe ui";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    padding: 10px;
    color: #FFFFFF;
    width: 100px;
    height: 44.06px;

}

.profileedit_row3 {
    padding-top: 20px;
    padding-left: 18%;
}

.profileedit_row2 label {
    padding: 10px;
}

/* .profileedit_row2,.profileedit_row3{
    border-bottom: 2px solid #8C9BD1;
    padding-bottom: 10px;
} */