.componentlatestproducts,
.componentofferlist,
.componentinbetweenbanner1 {
    padding-top: 50px;
}

.componenttrendingproducts {
    margin: 50px;
}
.componentinbetweenbanner2 {
    padding-top: 20px;
}
.body {
    margin: 0;
}