body{
    margin: 0;
    padding: 0;
    
}

.loginpage_logsign{
    display: flex;
    width: 100%;
    padding-top: 50px;
}

.loginpage_logsign_login{
    width: 50%;
    padding-left: 100px;
}

.loginpage_logsign_signup{
    width: 50%;
    padding-right: 100px;
}

.subbanner{
    width: 83.5616%;
    /* background-color:red ; */
}

