body{
    margin: 0;
    padding: 0;
    
}

.subbanner{
    width: 83.5616%;
    /* background-color:red ; */
}

.shoppage_gridpage_gridview{
    margin-left: 4%;
}

/*****************************end shoppage_gridpage*************************/

.loginpage_logsign{
    display: flex;
    width: 100%;
    padding-top: 50px;
}

.loginpage_logsign_login{
    width: 50%;
    padding-left: 100px;
}

.loginpage_logsign_signup{
    width: 50%;
    padding-right: 100px;
}


/*************************end login page************************/

.payments_component{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

/************************* end payment page**********************/


.shoppage_listpage_col{
    display: flex;
    margin-left: 10%;
}

.shoppage_listpage_col_fverticalbar{
    width: 20%;
}

.shoppage_listpage_col_listview{
    width: 78%;
}